/__pycache__/test.cpython-34.pyc
/udebs/__pycache__/Board.cpython-34.pyc
/udebs/__pycache__/Entity.cpython-34.pyc
/udebs/__pycache__/__init__.cpython-34.pyc
/udebs/__pycache__/board.cpython-34.pyc
/udebs/__pycache__/entity.cpython-34.pyc
/udebs/__pycache__/instance.cpython-34.pyc
/udebs/__pycache__/interpret.cpython-34.pyc
/udebs/__pycache__/interpret.cpython-34_conflict-20150601-192504.pyc
/udebs/__pycache__/loadxml.cpython-34.pyc
/udebs/__pycache__/main.cpython-34.pyc
/udebs/__pycache__/test.cpython-34.pyc
/udebs/__pycache__/testing.cpython-34.pyc
/udebs/tests/__pycache__/__init__.cpython-34.pyc
/udebs/tests/__pycache__/test_board.cpython-34.pyc
/udebs/tests/__pycache__/test_instance.cpython-34.pyc
/udebs/tests/__pycache__/test_interpret.cpython-34.pyc
/udebs/tests/__pycache__/test_objects.cpython-34.pyc
/udebs/tests/__pycache__/test_path.cpython-34.pyc
/udebs/tests/__pycache__/test_xml.cpython-34.pyc
